header { background: #1a1a1a; position: relative; width: 100%; z-index: 20; -moz-user-select: none; -ms-user-select: none; -webkit-user-select: none; user-select: none }
header img { margin: 15px; margin-left: -5px; max-width: 40px }
.logo { float: left; width: 250px }
.logo-written { position: absolute; top: 23px; color: #f5f5f5; font-size: 25px; font-weight: 500; margin-left: 40px }
/*.slider-blogs, .slider { width: 9999px; overflow: hidden; position: relative; top: -41px; height: 230px }
.slider li { float: left }
.img-shadow img { width: 550px; height: 230px }
.img-shadow-blogs img { width: auto; height: 230px }
.img-shadow-blogs, .img-shadow { box-shadow: inset 0 -120px 160px -120px #000; float: left; position: relative }
.img-shadow-blogs img, .img-shadow img { display: block; position: relative; z-index: -1 }
.slide-text { text-align: center; color: #fff; font-size: 16px; margin-top: -30px; padding-bottom: 30px }*/
.mobile-search { display: none !important }
.search-results table tr { border: none !important; background: transparent !important; font-weight: 400; font-family: 'Open Sans','Segoe UI',Tahoma,Geneva,Verdana,sans-serif }
.searchbox { position: relative; width: 200px !important; margin: 0 !important; z-index: 50; background: #e3e3e3 !important; padding-bottom: 2px !important; padding-top: 1px !important; min-height: 33px !important; margin-bottom: -4px !important; margin-top: -9px !important }
.searchbox:hover, .searchbox:focus { border-color: #fff !important; background: #fff !important }
.post-navigation { width: 100% !important }
footer { background: #3b3b3b; border-top: 10px solid #2572EB; color: #fff; height: auto; padding: 20px 0 0 }
#copyright { background: #1b1b1b; padding: 20px 15px; color: #fff; margin-top: 20px }
.info { background: #f4f4f4; padding: 20px }
.info p { max-width: 75%; text-align: center; margin: 0 auto; color: #334 }
.content, .wrapper { width: 75%; margin: 0 auto }
.wrapper { padding-bottom: 40px }
.wrapper ol { margin-left: 45px }
.wrapper ul { list-style: initial; margin-left: 35px }
.wrapper ul li ul { list-style: square }
.section-wrapper { width: 75%; margin: 0 auto }
.section-content-left, .section-content-right { width: 50%; padding-top: 80px }
.section-image-left, .section-image-right { width: 50% }
.section-image-left-img { max-height: 330px; padding: 40px; margin-top: 10px }
.section-image-right-img { max-height: 330px; padding: 40px; margin-top: 10px; margin-right: 120px }
.section-bg { padding-bottom: 50px }
.live > div { position: absolute }
.live img { border: none }
.live-front { width: 100%; height: 100%; z-index: 20 }
.live-back { width: 100%; height: 100%; z-index: 10 }
.live-img { display: block; height: 100%; width: 100% }
.tile { margin: 0 5px 10px; float: left; overflow: hidden; position: relative; transition: opacity .5s ease .1s; -moz-transition: opacity .5s ease .1s; -o-transition: opacity .5s ease .1s; -webkit-transition: opacity .5s ease .1s; background: #19a2de }
.tilehover { position: absolute; top: 0; right: 0; z-index: 30; display: none }
.exclude:hover { border: none; margin: 0 5px 10px }
a .tile:hover .tilehover { display: inline }
.tile-text { color: #fff; font-size: 2.4em; bottom: 5px; left: 10px; position: absolute; z-index: 30; text-align: left }
.large { width: 310px; height: 310px }
.medium { width: 310px; height: 150px }
.small { width: 150px; height: 150px }
.fade { opacity: .5; filter: alpha(opacity=50) }
.tile-pre { display: none; background: #f6f6f6; position: absolute; z-index: 99; width: 100%; height: 100%; box-shadow: #000 0 0 9px 1px; color: #3e3e3e; min-height: 650px !important; max-height: 50% }
.last { margin-right: 0 }
.projetos, .aplicativos { width: 50%; margin: 0 auto }
.article-blog { float: left; width: calc(33.33% - 20px); margin-right: 20px }
.article-blog h4 { height: 80px }
.article-blog img { width: 100%; height: auto }
.fixed-header { position: fixed; top: 0; width: 100%; height: 100px; transition: all .3s; }
.fixed-header img { max-height: 100px; width: auto !important; transition: all .3s; padding: 10px 0 }
.fixed-header h2 { font-size: 30px; transition: all .3s }
.fixed-header p { display: none; transition: all .3s }
.fixed-header a { position: relative; top: 0; transition: all .1s }
.formula-mobile-view { margin-right: 40%; margin-left: 30px }
#email { background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)),url(/images/bg/bg-main.jpg) no-repeat center fixed !important; background-size: cover !important }
#formula-section-bg { background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)),url(/images/bg/formula.jpg) no-repeat center fixed !important; background-size: cover !important }
#testimonial { background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)),url(/images/bg/bg-vitor-2.jpg) no-repeat center fixed !important; background-size: cover !important }
.mosaico { height: 100% }
.mainpage-mos { margin-top: 10px; padding: 40px 0 }
.log { background: #000; padding: 20px }
.log p { font-family: Consolas; color: #008707; line-height: 17px }

.app img { padding: 20px 0; margin-left:20px}

@media screen and (max-width:400px) {
    nav { width: 200px !important }
    .mainpage-mos { padding: 3px }
    .logo-written { display: none }
    .section-wrapper { width: 100%; margin: 0 15px; }
}

@media screen and (min-width: 768px) {
    nav { width: calc(100% - 300px); position: relative; float: left; height: 70px }
    nav ul { list-style: none; -moz-user-select: none; -ms-user-select: none; -webkit-user-select: none; user-select: none; position: relative; z-index: 99999 }
    nav ul li { float: left; cursor: pointer; border: 1px solid transparent; font-weight: 400; margin-top: -17px }
    nav ul li a, nav ul li a:visited { color: #f9f9f9; padding: 27px 15px; font-size: 18px; font-weight: lighter; display: block }
    nav ul li:hover { background: #fff; border: 1px solid #bbb; border-bottom: none; box-shadow: 0 1px 1px 0 rgba(10,10,10,.25) }
    nav ul li:hover a { color: #2572EB }
    nav ul li:hover ul { display: block }
    nav ul li ul { display: none; position: absolute; width: 200px; margin-left: -1px; margin-top: 0; z-index: 200; background-color: #fff; padding: 15px 0 !important; border: 1px solid #bbb; border-top: none; box-shadow: 0 1px 1px 0 rgba(10,10,10,.25); padding-top: 11px !important }
    nav ul li ul li { float: none }
    nav ul li ul li:first-child { margin-top: -10px }
    nav ul li ul li:hover { border: 1px solid transparent; box-shadow: none; -moz-transition: all .4s; -o-transition: all .4s; -webkit-transition: all .4s; transition: all .4s }
    nav ul li ul li a { padding: 7px 20px; font-size: 14px !important; color: #555 !important; line-height: 34px !important; font-weight: lighter; display: block }
    nav ul li ul li a:hover { color: #2572EB !important; transition: .3s all; background: #e3e3e3 !important }
    .sub-menu { background: #2572EB; height: 40px; position: relative !important; z-index: 18 }
    .sub-menu ul { margin-left: -10px }
    .sub-menu ul li:first-child { margin-left: -25px }
    .sub-menu ul li { float: left !important; padding-right: 18px !important; color: #eee; margin-top: -5px; }
    .sub-menu ul li a { color: #fff; font-size: 16px; font-weight: 600 }
    .sub-menu ul li a:hover { color: #e3e3e3 !important }
    .hamburger { display: none }
    .no-drop:hover { background: transparent; border-color: transparent; box-shadow: none }
}

@media screen and (max-width:768px) {
    header { height: 80px; position: fixed; z-index: 20 }
    header img { position: fixed; left: 15px; min-width: 50px }
    nav { display: none; width: 300px; position: fixed; z-index: 90; background: #2b2b2b; margin-top: 84px !important; height: 100%; left:0 }
    nav form { margin-top: -4px }
    nav ul { background: #3c3c3c; padding: 0 }
    nav ul li:first-of-type { margin-top: -16px }
    nav ul li ul li:first-of-type{margin-top: 0}
    nav ul li { background: url(/images/heartthrob/mobilemenu.png) no-repeat #3b3b3b calc(100% - 15px) 18px; border-top: 1px solid #1b1b1b; cursor: pointer; margin:0 }
    nav ul li:hover { background: url(/images/heartthrob/mobilemenuhover.png) no-repeat #4b4b4b calc(100% - 15px) 18px }
    nav ul li a { color: #fff; font-size: 16px; display: inline-block; width: calc(100% - 60px); margin-left: 5px; padding: 15px 0 15px 6px }
    nav ul li a:hover, nav ul li a:visited { color: #e8e8e8 }
    nav ul li ul { width: 100%; margin: 0; border-top: 1px solid #1b1b1b; display: none }
    nav ul li ul li { background: #5b5b5b; border: none }
    nav ul li ul li a { margin: 0 5px }
    nav ul li ul li:hover a { -moz-transition: all .3s; -o-transition: all .3s; -webkit-transition: all .3s; transition: all .3s }
    nav ul li ul li:hover { background-image: none; -moz-transition: all .6s; -o-transition: all .6s; -webkit-transition: all .6s; transition: all .6s }
    .hamburger { background: url(/images/heartthrob/hamburger.png) no-repeat; width: 36px; height: 30px; position: absolute; top: 24px; cursor: pointer; z-index: 21; right: 15px; float: right }
    .mobile-search { display: block !important; width: 100% !important; height: 40px; border-color: transparent !important; margin-top: 0 !important }
    .no-drop { background: #3b3b3b !important }
    .no-drop:hover { background: transparent !important }
    .logo-written { display: block; margin-top: 17px; margin-left: 65px; top: 10px }
    .info, .sub-menu, .no-mobile { display: none !important }
    .live-img { margin-top: 0 !important }
    .wrapper { width: calc(100% - 40px); padding: 20px; padding-top: 100px }
    section { display: flex; flex-flow: column }
    .section-wrapper { width: 100%; display: flex; flex-flow: column }
    .section-content-left, .section-content-right { order: 1; width: calc(100% - 40px); margin: 20px; text-align: center; padding-top: 80px }
    .section-image-left, .section-image-right { width: 100%; order: 2; align-self: flex-end }
    .section-image-left-img { max-height: 330px; padding: 40px; margin-top: 10px }
    .section-image-right-img { max-height: 330px; padding: 40px; margin-top: 10px; margin-right: 120px }
    .section-image-left.left, .section-image-right.right, .section-content-left.left, .section-content-right.right { float: none }
    #copyright { padding: 10px; color: #fff; display: flex; flex-flow: column }
    .slider { top: 80px }
    .content-mos { margin-top: 60px }
    .app { position: relative; text-align:center !important; padding-top:80px }
    .app p{text-align:center}
    .app img { padding: 10px 0; margin-left: 0; max-width: 120px !important; }
    .section-image-left-img { max-width: calc(100% - 50px) }
    .article-blog { float: none; width: 85%; margin: 0 auto; padding-bottom: 20px; margin-bottom: 20px; border-bottom: 1px solid #e3e3e3 }
    .formula-mobile-view { position: relative; left: calc(50% - 100px) }
    .section-wrapper{margin: 0 15px}
}

@media (min-width: 768px) and (max-width:1150px) {
    .wrapper { width: 100% }
    .section-wrapper { width: 100%; margin: 0 15px; }
}

@media all and (max-width:640px) {
    .last { margin-right: auto }
}

h1 { color: #2572EB }
.btn, button, input[type=button], input[type=reset], input[type=submit], button[type=submit] { background: #2572EB; border-color: #2572EB; }
.btn:hover, button:hover, input[type=button]:hover, input[type=reset]:hover, input[type=submit]:hover, button[type=submit]:hover { background: #5f37be; border-color: #5f37be; }