<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<title>@ViewBag.Title | Hidra</title>
<meta charset="UTF-8">
<environment names="Development">
    <link rel="stylesheet" href="~/lib/heartthrob/build/heartthrob.css" />
    <link rel="stylesheet" href="~/lib/heartthrob/build/shell.heartthrob.css" />
    @*@if (ViewData["LOGIC"].ToString() == "OOBE")
    {
        <link rel="stylesheet" href="~/css/OOBE.css" />
    }*@
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="~/lib/nprogress/nprogress.css" />
    <link rel="stylesheet" href="~/lib/kendo-ui/styles/kendo.common-office365.min.css" />
    <link rel="stylesheet" href="~/lib/kendo-ui/styles/kendo.office365.min.css" />
</environment>
<environment names="Staging,Production">
    <link rel="stylesheet" href="~/lib/heartthrob/build/heartthrob.min.css" />
    <link rel="stylesheet" href="~/lib/heartthrob/build/shell.heartthrob.min.css" />
    @*@if (ViewData["LOGIC"].ToString() == "OOBE")
    {
        <link rel="stylesheet" href="~/css/OOBE.min.css" />
    }*@
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="~/lib/nprogress/nprogress.css" />
    <link rel="stylesheet" href="~/lib/kendo-ui/styles/kendo.common-office365.min.css" />
    <link rel="stylesheet" href="~/lib/kendo-ui/styles/kendo.office365.min.css" />
</environment>

<environment names="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/kendo-ui/js/kendo.all.min.js"></script>
    <script src="~/lib/kendo-ui/js/kendo.aspnetmvc.min.js"></script>
    <script src="~/lib/kendo-ui/js/cultures/kendo.culture.pt-BR.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
</environment>
<environment names="Staging,Production">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/kendo-ui/js/kendo.all.min.js"></script>
    <script src="~/lib/kendo-ui/js/kendo.aspnetmvc.min.js"></script>
    <script src="~/lib/kendo-ui/js/cultures/kendo.culture.pt-BR.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
</environment>
<script>
        kendo.culture("pt-BR");
</script>