<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="60181VTNORTON.Conjugar" Publisher="CN=A1BAD918-0EE3-4743-84A7-20C7B6052F9A" Version="1.1.0.0" />
  <Properties>
    <DisplayName>Conjugar</DisplayName>
    <PublisherDisplayName>Vítor Norton</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="DouaiWP.Windows.App">
      <m2:VisualElements DisplayName="Conjugar" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="Conjugação de verbos regulares e irregulares de nossa língua portuguesa em todos os tempos (presente, imperfeito, presente perfeito, passado mais-que-perfeito, futuro, futuro do presente, o presente indicativo condicional, pretérito imperfeito do modo subjuntivo, futuro do modo subjuntivo, imperativo, infinitivo e gerúndio)." ForegroundText="light" BackgroundColor="transparent">
        <m2:DefaultTile ShortName="Conjugar" DefaultSize="square150x150Logo" Square70x70Logo="Assets\Square70x70Logo.png" Square310x310Logo="Assets\Square310x310Logo.png" Wide310x150Logo="Assets\Wide310x150Logo.png">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
            <m2:ShowOn Tile="wide310x150Logo" />
            <m2:ShowOn Tile="square310x310Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#199900" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>