<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <pages maintainScrollPositionOnPostBack="true"></pages>
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off" defaultRedirect="/erro/000">
      <!--On - qualquer erro será redirecionado para a página definida
      RemoteOnly - Quando estiver rodando a aplicaão local o erro será exibido, quando estiver sorando remotamente redirecionado
      Off - O erro sempre será exibido-->
      <error statusCode="404" redirect="/erro/404" />
      <!--Pagina não encontrada-->
      <error statusCode="403" redirect="/erro/403" />
      <!--Acesso negado-->
      <error statusCode="500" redirect="/erro/500" />
      <!--Erro no servidor-->
    </customErrors>
    <urlMappings enabled="true">
      <add url="~/" mappedUrl="~/index.aspx" />
      <add url="~/email" mappedUrl="~/newsletter.aspx" />
      <add url="~/event" mappedUrl="~/eventos.aspx" />
      <add url="~/search" mappedUrl="~/search.aspx" />
      <add url="~/eventos" mappedUrl="~/eventos.aspx" />
      <add url="~/devnasnuvens/" mappedUrl="~/devnasnuvens/index.aspx" />
      <add url="~/devnanuvem/" mappedUrl="~/devnasnuvens/index.aspx" />
      <add url="~/onenote" mappedUrl="~/onenote/index.aspx" />
      <add url="~/onenote/" mappedUrl="~/onenote/index.aspx" />
      <add url="~/on/" mappedUrl="~/onenote/index.aspx" />
    </urlMappings>
    <httpModules>
    </httpModules>
    <globalization culture="auto:en-US" uiCulture="auto:en-US" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.28.0" newVersion="4.2.28.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.3.490" newVersion="1.2.3.490" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AI.Agent.Intercept" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
    </modules>
    <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="45.00:00:00" />
    </staticContent>
  </system.webServer>
</configuration>