@model ProjectCachoeiro.Web.Models.Produtos.Material

@{
    ViewData["Title"] = "Editar material: " + Model.Nome;
    ViewData["LOGIC"] = "UWP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@await Html.PartialAsync("~/Views/App/Manage/Sistema/_ManageNav.cshtml")
<div class="inner-content">
    <div class="toolbar">
        <div class="left">
            <h2>Editar material: @Html.DisplayFor(model => model.Nome)</h2>
        </div>
        <div class="clean"></div>
    </div>
    <div class="view-element">
        <form id="form" asp-action="Editar">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="row">
                <div class="col-md-9">
                    <label asp-for="Nome"></label>
                    <input asp-for="Nome" />
                    <span asp-validation-for="Nome"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label asp-for="Descricao"></label>
                    <textarea asp-for="Descricao"></textarea>
                    <span asp-validation-for="Descricao"></span>
                </div>
            </div>
        </form>
        @await Html.PartialAsync("~/Views/Shared/AppTaskbar.cshtml", "EDIT;ID=" + Model.Id + ";")
    </div>
    <div class="view-bottom">
        <hr />
        <p class="small">O material de um produto será utilizado no cadastro dele. Somente administradores podem criar ou editar materiais.</p>
    </div>
</div>
<div class="clean"></div>