<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5" />
    
    <customErrors mode="RemoteOnly" defaultRedirect="/erro/000">
      <!--On - qualquer erro será redirecionado para a página definida-->
      <!--RemoteOnly - Quando estiver rodando a aplicaão local o erro será exibido, quando estiver sorando remotamente redirecionado-->
      <!--Off - O erro sempre será exibido-->
      <error statusCode="404" redirect="/erro/404" />
      <!--Pagina não encontrada-->
      <error statusCode="403" redirect="/erro/403" />
      <!--Acesso negado-->
      <error statusCode="500" redirect="/erro/500" />
      <!--Erro no servidor-->
    </customErrors>
    <urlMappings enabled="true">
      <add url="~/" mappedUrl="~/index.aspx" />
      <add url="~/sobre" mappedUrl="~/sobre.aspx" />
      <add url="~/redes-sociais" mappedUrl="~/redes-sociais.aspx" />
      <add url="~/faq" mappedUrl="~/faq.aspx" />
      <add url="~/contato" mappedUrl="~/formulariodecontato.aspx" />
      <add url="~/clock" mappedUrl="~/clock.aspx" />
      <add url="~/vitor/" mappedUrl="~/vitor/biografia.aspx" />
      <add url="~/blog/" mappedUrl="~/blog/index.aspx" />
      <add url="~/erro/404" mappedUrl="~/erro/404.aspx" />
      <add url="~/erro/000" mappedUrl="~/erro/000.aspx" />
      <add url="~/erro/403" mappedUrl="~/erro/403.aspx" />
      <add url="~/erro/500" mappedUrl="~/erro/500.aspx" />
      <add url="~/2013/" mappedUrl="~/2013/index.html" />
      <add url="~/sugestion" mappedUrl="~/sugestion.aspx" />
      <add url="~/report" mappedUrl="~/report.aspx" />
      <add url="~/sexta" mappedUrl="~/sextachegou/index.aspx"/>
      <add url="~/sextachegou" mappedUrl="~/sextachegou/index.aspx"/>
      <add url="~/sextafeira" mappedUrl="~/sextachegou/index.aspx"/>
      <add url="~/sextafeirachegou" mappedUrl="~/sextachegou/index.aspx"/>
    </urlMappings>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.28.0" newVersion="4.2.28.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>