@model ProjectCachoeiro.Web.Models.Produtos.Familia

@{
    ViewData["Title"] = "Adicionar família";
    ViewData["LOGIC"] = "UWP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@await Html.PartialAsync("~/Views/App/Manage/Sistema/_ManageNav.cshtml")
<div class="inner-content">
    <div class="toolbar">
        <div class="left">
            <h2>Adicionar família</h2>
        </div>
        <div class="clean"></div>
    </div>
    <div class="view-element">
        <form id="form" asp-action="Criar">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="row">
                <div class="col-md-2">
                    <label asp-for="Sigla"></label>
                    <input asp-for="Sigla" />
                    <span asp-validation-for="Sigla"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="Nome"></label>
                    <input asp-for="Nome" />
                    <span asp-validation-for="Nome"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="tipo">Tipo da família</label>
                    <p class="small">Consulte mais informações sobre o <a href="#">tipo da família.</a></p>
                    @(Html.Kendo().DropDownListFor(model => model.Type).DataValueField("Type").DataTextField("Name").BindTo((System.Collections.IEnumerable)ViewData["tipos"]))
                    <span asp-validation-for="Type"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <label asp-for="Observacao"></label>
                    <textarea asp-for="Observacao"></textarea>
                    <span asp-validation-for="Observacao"></span>
                </div>
            </div>
        </form>
        @await Html.PartialAsync("~/Views/Shared/AppTaskbar.cshtml", "CREATE")
    </div>
</div>
<div class="clean"></div>