@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Alterar senha";
    ViewData.AddActivePage(ManageNavPages.ChangePassword);
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}
@Html.Partial("~/Views/App/Manage/_StatusMessage.cshtml", Model.StatusMessage)
    <h2>Alterar senha</h2>
    <p>É uma boa prática a troca de senhas periodicamente, e é nesta tela em que você irá poder fazer isso. Entre com a sua senha atual e a nova senha para fazer a alteração.</p>
    <hr />
    <div class="view-element">
        <div class="row">
            <div class="col-md-6">
                <form method="post">
                    <div asp-validation-summary="All"></div>
                    <div class="form-group">
                        Senha atual
                        <input asp-for="OldPassword" />
                        <span asp-validation-for="OldPassword"></span>
                    </div>
                    <div class="form-group">
                        Nova senha
                        <input asp-for="NewPassword" />
                        <span asp-validation-for="NewPassword"></span>
                    </div>
                    <div class="form-group">
                        Confirmar a nova senha
                        <input asp-for="ConfirmPassword" />
                        <span asp-validation-for="ConfirmPassword"></span>
                    </div>
                    <br />
                    <button type="submit" class="btn btn-default">Atualizar senha</button>
                </form>
            </div>
        </div>
    </div>
