body{ background-color: rgb(30,30,30) !important; color: #fff !important}
label, table, address, p, li, dl, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { color: #999999 !important }
hr { border-bottom: none !important; border: 1px solid #2D2D30 !important; margin: 15px 0; }
p, li{color: #f8f8f8 !important}
h1 { color: #2572EB }

