@{
    ViewData["Title"] = "E-mail confirmado";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<h2>@ViewData["Title"]</h2>
<p style="margin-bottom: 20px">
    Obrigado por confirmar o seu e-mail.
</p>
