@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Esqueceu a senha?";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<h2>@ViewData["Title"]</h2>
<hr />
<form asp-action="ForgotPassword" method="post">
    <div asp-validation-summary="All"></div>
    <input asp-for="Email" placeholder="E-mail" />
    <span asp-validation-for="Email"></span>

    <div class="box-options">
        <button type="submit" class="btn btn-default">Submit</button>
    </div>
</form>