@{
    ViewData["Title"] = "Senha esquecida";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<h2>@ViewData["Title"]</h2>
<p style="margin-bottom: 20px">
    Por favor, confira seu e-mail para resetar a senha.
</p>
