@{
    ViewData["Title"] = "Conta bloqueada";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<h2>@ViewData["Title"]</h2>
<p style="margin-bottom: 20px">Esta conta foi bloqueada de ter acesso, tente novamente mais tarde.</p>
