@{
    ViewData["Title"] = "Senha resetada com sucesso!";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<h2>@ViewData["Title"]</h2>
<p style="margin-bottom: 20px">
    Sua senha foi resetada. Por favor <a asp-action="Login">clique aqui para fazer login</a>.
</p>