@{
    ViewData["Title"] = "Você não está conectado";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<h2>@ViewData["Title"]</h2>
<p style="margin-bottom: 20px">
    Você fez logoff com sucesso no sistema.
</p>
