<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5" IgnorableNamespaces="uap mp uap5">
  <Identity Name="60181VTNORTON.Formula-UniversalCodeEditor" Publisher="CN=A1BAD918-0EE3-4743-84A7-20C7B6052F9A" Version="3.1710.371.0" />
  <mp:PhoneIdentity PhoneProductId="7fc829e6-95b2-4bfd-9456-4a49a1eb825f" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Formula - Universal Code Editor</DisplayName>
    <PublisherDisplayName>Vítor Norton</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="ProjectQuebec.App">
      <uap:VisualElements DisplayName="Formula" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="ProjectQuebec" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square310x310Logo="Assets\Square310x310Logo.png" Square71x71Logo="Assets\Square71x71Logo.png" ShortName="Formula">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#16499A" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="formula">
            <uap:DisplayName>Formula</uap:DisplayName>
            <uap:Logo>71.png</uap:Logo>
            <uap:InfoTip>Edit your codes with this powerful code editor</uap:InfoTip>
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="text/plain">.cs</uap:FileType>
              <uap:FileType ContentType="text/plain">.apl</uap:FileType>
              <uap:FileType ContentType="text/plain">.dyalog</uap:FileType>
              <uap:FileType ContentType="text/plain">.pgp</uap:FileType>
              <uap:FileType ContentType="text/plain">.h</uap:FileType>
              <uap:FileType ContentType="text/plain">.c</uap:FileType>
              <uap:FileType ContentType="text/plain">.cpp</uap:FileType>
              <uap:FileType ContentType="text/plain">.c++</uap:FileType>
              <uap:FileType ContentType="text/plain">.cc</uap:FileType>
              <uap:FileType ContentType="text/plain">.cxx</uap:FileType>
              <uap:FileType ContentType="text/plain">.hpp</uap:FileType>
              <uap:FileType ContentType="text/plain">.h++</uap:FileType>
              <uap:FileType ContentType="text/plain">.hh</uap:FileType>
              <uap:FileType ContentType="text/plain">.hxx</uap:FileType>
              <uap:FileType ContentType="text/plain">.css</uap:FileType>
              <uap:FileType ContentType="text/plain">.html</uap:FileType>
              <uap:FileType ContentType="text/plain">.htm</uap:FileType>
              <uap:FileType ContentType="text/plain">.java</uap:FileType>
              <uap:FileType ContentType="text/plain">.js</uap:FileType>
              <uap:FileType ContentType="text/plain">.json</uap:FileType>
              <uap:FileType ContentType="text/plain">.map</uap:FileType>
              <uap:FileType ContentType="text/plain">.lua</uap:FileType>
              <uap:FileType ContentType="text/plain">.pas</uap:FileType>
              <uap:FileType ContentType="text/plain">.p</uap:FileType>
              <uap:FileType ContentType="text/plain">.php</uap:FileType>
              <uap:FileType ContentType="text/plain">.php3</uap:FileType>
              <uap:FileType ContentType="text/plain">.php4</uap:FileType>
              <uap:FileType ContentType="text/plain">.php5</uap:FileType>
              <uap:FileType ContentType="text/plain">.phtml</uap:FileType>
              <uap:FileType ContentType="text/plain">.BUILD</uap:FileType>
              <uap:FileType ContentType="text/plain">.bzl</uap:FileType>
              <uap:FileType ContentType="text/plain">.py</uap:FileType>
              <uap:FileType ContentType="text/plain">.pyw</uap:FileType>
              <uap:FileType ContentType="text/plain">.sql</uap:FileType>
              <uap:FileType ContentType="text/plain">.txt</uap:FileType>
              <uap:FileType ContentType="text/plain">.xml</uap:FileType>
              <uap:FileType ContentType="text/plain">.xsl</uap:FileType>
              <uap:FileType ContentType="text/plain">.xsd</uap:FileType>
              <uap:FileType ContentType="text/plain">.swift</uap:FileType>
              <uap:FileType ContentType="text/plain">.vb</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap5:Extension Category="windows.appExecutionAlias" Executable="ProjectQuebec.exe" EntryPoint="ProjectQuebec.App">
          <uap5:AppExecutionAlias>
            <uap5:ExecutionAlias Alias="formula.exe" />
          </uap5:AppExecutionAlias>
        </uap5:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>