html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ul{list-style:none}
blockquote,q{quotes:none}
img{-moz-user-select:none;-ms-user-select:none;-webkit-user-select:none;user-select:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
.right{float:right}
.left{float:left}
.clean{clear:both!important}
.displaynone{display:none}
.seventyfivepercent{width:calc(100% - 360px)}
.twentyfivepercent{width:25%; float: left}
.half{width:calc(50% - 20px)}
.full{width:95%}
.full100{width:100%}
.text-center{text-align:center}
hr{border-bottom:none!important;border:1px solid #dedfe7;margin:5px 0}
@media screen and (max-width:940px) {
.seventyfivepercent,.twentyfivepercent,.half,.right,.left{float:none;width:100%}
}
@media screen and (max-width:895px) {
.no-mobile{display:none!important}
}
a,.on,.current{color:#2572EB;text-decoration:none}
a:hover{color:#5f37be;-moz-transition:all .3s;-o-transition:all .3s;-webkit-transition:all .3s;transition:all .3s}
a:visited{color:#7241e4}
body{font-family:'Segoe UI',Arial,Helvetica,Tahoma,Geneva,Verdana,sans-serif;overflow-x:hidden}
.wrapper ul,.wrapper ol,figcaption,p{margin:10px 0;line-height:23px;text-align:left;  font-size:18px; font-weight:300; color:#665}
h1{font-size:54px;font-weight:100;line-height:1.13; color:#2572EB}
h2{font-size:45px;font-weight:200;line-height:1.18; margin-bottom:30px}
h3{font-size:35px;font-weight:400;line-height:1.35}
h4{font-size:25px;font-weight:600;line-height:1.35}
h5{font-size:20px;font-weight:300;line-height:1.35}
h6{font-size:18px;font-weight:400;line-height:1.65}
strong{font-weight:600}
.btn, button,input[type=button],input[type=reset],input[type=submit],button[type=submit]{background:linear-gradient(#3684fc,#2572EB);color:#eee;margin:0;min-height:35px;min-width:90px;padding:4px 8px;border:2px solid #2572EB;font-weight:600;line-height:1.3;cursor:pointer;margin-right:5px}
.btn:hover, button:hover,input[type=button]:hover,input[type=reset]:hover,input[type=submit]:hover,button[type=submit]:hover{background:#5f37be;border-color:#5f37be;-moz-transition:all .3s;-o-transition:all .3s;-webkit-transition:all .3s;transition:all .3s; color:#fff !important}
.btn:disabled, button:disabled,input[type=button]:disabled,input[type=reset]:disabled,input[type=submit]:disabled,button[type=submit]:disabled{background:GrayText;border-color:GrayText;-moz-transition:all .3s;-o-transition:all .3s;-webkit-transition:all .3s;transition:all .3s}
textarea,input[type=text],input[type=password],input[type=date],input[type=datetime],input[type=datetime-local],input[type=email],input[type=number],input[type=tel],input[type=url],input[type=search]{border:2px solid #ccc;background:#f9f9f9;margin:4px 0;width:100%;min-width:100px;width:calc(100% - 20px);min-height:35px;padding:0 8px;font-size:14px;font-weight:400;line-height:1.3;font-family:'Segoe UI',Tahoma,Geneva,Verdana,sans-serif}
textarea{padding:5px 8px}
textarea:hover,input[type=text]:hover,input[type=password]:hover,input[type=email]:hover,input[type=number]:hover,input[type=tel]:hover,input[type=url]:hover,input[type=search]:hover,textarea:hover,.win-textarea:hover{background:#fff;border-color:#3684fc}
textarea:focus,input[type=text]:focus,input[type=password]:focus,input[type=email]:focus,input[type=number]:focus,input[type=tel]:focus,input[type=url]:focus,input[type=search]:focus,textarea:focus,.win-textarea:focus{border-color:#2572EB;background-color:#fff}
textarea:disabled,input[type=text]:disabled,input[type=password]:disabled,input[type=email]:disabled,input[type=number]:disabled,input[type=tel]:disabled,input[type=url]:disabled,input[type=search]:disabled,textarea:disabled,.win-textarea:disabled{background-color:rgba(202,202,202,0.4);border-color:rgba(0,0,0,0.15);color:rgba(0,0,0,0.4)}
input[type=radio]{width:23px;height:10px;margin-left:-10px;margin-top:3px}
input[type=checkbox]{width:20px;height:20px;margin-right:5px;vertical-align:middle;margin-left:-2px}
table{width:100%;margin-top:10px}
table tr{border-bottom:1px solid #2572EB}
table tr:first-of-type{background:#eee}
table tr td{padding:8px 8px 15px;font-size:14px}
table tr td:last-of-type{padding-right:0!important}
table tr:hover{background:#eee;-moz-transition:all .5s;-o-transition:all .5s;-webkit-transition:all .5s;transition:all .5s}
table tr:first-of-type{border-top:none!important;font-weight:600}
select{min-width:80px;min-height:25px;border-width:2px;border-style:solid;margin:6px 0;outline:0;font-size:14px;font-weight:400;line-height:1.3636;border-color:rgba(0,0,0,0.27);background-color:rgba(255,255,255,0.8);color:#665; width:100%}
select::-ms-value{padding:4px 8px;margin:0}
select::-ms-expand{border:0;padding-left:6px;padding-right:6px}
::selection,select:focus::-ms-value{background-color:Highlight;color:HighlightText}
input:disabled::-ms-clear,input:disabled::-ms-reveal,select:disabled::-ms-expand{background-color:ButtonFace;border-color:GrayText;color:GrayText}
select,option{letter-spacing:.02em}
option{padding:3px}
table.nostyle tr{border:none}
table.nostyle tr td{padding:5px}
table.nostyle tr:first-of-type{border-top:none!important;font-weight:500}
article ul{margin-right:20px;list-style:inside}
article ul li{font-size:14px;margin:0 10px;line-height:19px;text-align:left}
blockquote p{margin-top:15px;margin-bottom:10px;margin-left:50px;padding:15px;border-left:3px solid #2572EB}
.btn-green{background:#00b249!important;border:2px solid #00b249!important}
.btn-green:hover{background:#00C13F!important;border-color:#00C13F!important}
.btn-blue{background:#3684fc!important;border:2px solid #3684fc!important}
.btn-blue:hover{background:#2572EB!important;border-color:#2572EB!important}
.btn-purple{background:#6f48cf!important;border:2px solid #6f48cf!important}
.btn-purple:hover{background:#5f37be!important;border-color:#5f37be!important}
.btn-red{background:#ff3f23!important;border:2px solid #ff3f23!important}
.btn-red:hover{background:#ff2e12!important;border-color:#ff2e12!important}
.btn-dark{background:#4c4c4c!important;border:2px solid #4c4c4c!important}
.btn-dark:hover{background:#3b3b3b!important;border-color:#3b3b3b!important}
.btn-grey{background:#bbb!important;border:2px solid #bbb!important}
.btn-grey:hover{background:#aaa!important;border-color:#aaa!important}
.btn-white{background:#f5f5f5!important;border:2px solid #f5f5f5!important}
.btn-white:hover{background:#fff!important;border-color:#fff!important}
.btn-orange{background:#f4c311!important;border:2px solid #f4c311!important}
.btn-orange:hover{background:#f3b200!important;border-color:#f3b200!important}
.btn-dark-green{background:#00C13F!important;border:2px solid #00C13F!important}
.btn-dark-green:hover{background:#199900!important;border-color:#199900!important}
.btn-dark-blue{background:#112f5f!important;border:2px solid #112f5f!important}
.btn-dark-blue:hover{background:#001E4E!important;border-color:#001E4E!important}
.bg-green{background:linear-gradient(#00b249,#00C13F)}
.bg-blue{background:linear-gradient(#3684fc,#2572EB)}
.bg-purple{background:linear-gradient(#6f48cf,#5f37be)}
.bg-red{background:linear-gradient(#ff3f23,#ff2e12)}
.bg-dark{background:linear-gradient(#4c4c4c,#3b3b3b)}
.bg-grey{background:linear-gradient(#bbb,#aaa)}
.bg-white{background:linear-gradient(#f5f5f5,#fff)}
.bg-orange{background:linear-gradient(#f4c311,#f3b200)}
.bg-dark-green{background:linear-gradient(#00C13F,#199900)}
.bg-dark-blue{background:linear-gradient(#112f5f,#001E4E)}
.bg-light{background:#f4f4f4}
.green:visited,.green{color:#00C13F !important}
.blue:visited,.blue{color:#2572EB !important}
.purple:visited,.purple{color:#5f37be !important}
.red:visited,.red{color:#FF2E12 !important}
.dark:visited,.dark{color:#3b3b3b}
.grey:visited,.grey{color:#aaa}
.white:visited,.white{color:#e9e9e9}
.orange:visited,.orange{color:#F3B200 !important}
.dark-green:visited,.dark-green{color:#199900 !important}
.dark-blue:visited,.dark-blue{color:#001E4E !important}

.info{background:#f4f4f4; padding:20px; margin-top:-35px}
.info p{max-width:75%; text-align:center; margin:0 auto; color:#667;}

.content,
.wrapper{width:75%; margin: 0 auto; margin-top:90px}
.wrapper{padding-bottom:40px}
.wrapper ol{margin-left:45px}
.wrapper ul{list-style:initial; margin-left:35px}
.wrapper ul li ul{list-style:square}
.section-wrapper{width:75%; margin: 0 auto;}
.section-content-left, .section-content-right { width:50%; padding-top:80px}
.section-image-left, .section-image-right{width:50%}
.section-image-left-img{max-height: 330px; padding: 40px; margin-top: 10px}
.section-image-right-img{max-height: 330px; padding: 40px; margin-top: 10px; margin-right: 120px}
.section-bg{padding-bottom:50px;}

.search-results table tr{border:none!important; background:transparent !important; font-weight:normal; font-family:'Open Sans','Segoe UI', Tahoma, Geneva, Verdana, sans-serif}

header{background:#1a1a1a;height:100px;position:relative;width:100%;z-index:20;-moz-user-select:none; -ms-user-select:none; -webkit-user-select:none;user-select:none}
header img{margin:15px;margin-left: -5px;}
.logo-written{position:absolute;top:23px;color:#f5f5f5;font-size:30px;font-weight:500;margin-left: 50px;}

.slider-blogs,
.slider{width:9999px; overflow:hidden; position:relative; top:-35px;}
.slider{height:230px;}
.slider li{float:left}
.img-shadow img{width:550px; height:230px;}
.img-shadow-blogs img{width:auto; height:230px;}
.slide-text{padding-bottom: 30px}

#copyright{background:#1b1b1b;border-top:10px solid #2572EB; padding: 30px 20px; color:#fff;}
.social ul{list-style:none;}
.social ul li{float:left;margin-left: 10px;}
.social ul li:first-of-type{margin-left:0}
.social ul li a{color:#fff;}
.social ul li a:hover{color:#2572EB}
.social ul li a i{font-size:20px}
.mobile-search{display:none;}
@media screen and (min-width: 895px) {
    nav{width:100%;position:relative}
    nav ul{list-style:none;margin:-11px 5px;-moz-user-select:none;-ms-user-select:none;-webkit-user-select:none;user-select:none;position:relative; z-index:99999;margin-left: -15px;}
    nav ul li{float:left;cursor:pointer; border: 1px solid transparent; font-weight:normal}
    nav ul li a,nav ul li a:visited{color:#e8e8e8;padding:7px 15px;font-size:14px;font-weight:lighter; display:block}
    nav ul li:hover{background:#fff;border:1px solid #bbb;border-bottom:none;box-shadow:0 1px 1px 0 rgba(10,10,10,.25)}
    nav ul li:hover a{color:#2572EB}
    nav ul li:hover ul{display:block}
    nav ul li ul{display:none; position: absolute;width: 200px;margin-left: -1px;margin-top:0px;z-index: 200;background-color: #fff;padding: 15px 0 !important;border: 1px solid #bbb;border-top: none;box-shadow: 0 1px 1px 0 rgba(10,10,10,.25);padding-top: 11px !important;}
    nav ul li ul li{float:none}
    nav ul li ul li:hover{background:#e8e8e8;border:1px solid transparent;box-shadow:none;-moz-transition:all .4s;-o-transition:all .4s;-webkit-transition:all .4s;transition:all .4s}
    nav ul li ul li a{padding:7px 20px;font-size:14px!important;color:#555!important;line-height:34px!important;font-weight:lighter; display:block}
    .sub-menu{background:rgba(80,80,80,0.8);padding:5px 21px 4px;position:relative !important;z-index:18;-moz-user-select:none;-ms-user-select:none;-webkit-user-select:none;user-select:none}
    .sub-menu ul li{float:left !important;padding-right:15px !important;color:#eee;}
    .sub-menu ul li a{color:#eee;font-size:12px;padding-bottom:4px!important}
    .sub-menu ul li a:hover{color:#2572EB}
    .hamburger{display:none}
    .no-drop:hover{background:transparent; border-color:transparent; box-shadow:none;}
}
@media (min-width: 895px) and (max-width:1150px) {
    .wrapper{width:100%;}
    .section-wrapper{width:100%;}
    h1,h2{text-align:center}
}
@media screen and (max-width:895px) {
    header{height:84px;position:fixed;z-index:20}
    header img{position:fixed;left:calc(100% - 80px);}
    #MicrosoftTranslatorWidget{position:relative; left:-60px}
    .logo-written{top:10px}
    .hamburger{background:url(/images/heartthrob/hamburger.png) no-repeat;width:36px;height:30px;position:fixed;top:30px;left:15px;cursor:pointer;z-index:21}
    nav{display:none;width:300px;position:fixed;z-index:90;background:#2b2b2b;margin-top:84px!important;height:100%}
    nav form{margin-top:-4px}
    nav ul{background:#3c3c3c;}
    nav ul li:first-of-type{margin-top:-4px}
    nav ul li{background:url(/images/heartthrob/mobilemenu.png) no-repeat #3b3b3b calc(100% - 15px) 18px;border-top:1px solid #1b1b1b;cursor:pointer;}
    nav ul li:hover{background:url(/images/heartthrob/mobilemenuhover.png) no-repeat #4b4b4b calc(100% - 15px) 18px}
    nav ul li a{color:#fff; font-size:16px;display:inline-block;width:calc(100% - 60px);margin-left:5px;padding:15px 0 15px 6px}
    nav ul li a:hover,nav ul li a:visited{color:#e8e8e8}
    nav ul li ul{width:100%;margin:0;border-top:1px solid #1b1b1b;display:none}
    nav ul li ul li{background:#5b5b5b;border:none}
    nav ul li ul li a{margin:0 5px}
    nav ul li ul li:hover a{-moz-transition:all .3s;-o-transition:all .3s;-webkit-transition:all .3s;transition:all .3s}
    nav ul li ul li:hover{background-image:none;-moz-transition:all .6s;-o-transition:all .6s;-webkit-transition:all .6s;transition:all .6s}
    .no-drop{background:#3b3b3b!important}
    .no-drop:hover{background:transparent!important}
    .logo-written{display:block; margin-top: 17px;margin-left: 60px;}
    .sub-menu{display:none}
    .mobile-search{display:block; width:100% !important; height:40px; border-color:transparent !important;}
    .live-img{margin-top: 0px !important}
    .wrapper{width:calc(100% - 40px); padding:20px; padding-top:100px;}
    section{ display:flex; flex-flow:column}
    h1,h2{text-align:center}
    .section-wrapper{width:100%; display:flex;flex-flow:column}
    .section-content-left, .section-content-right {order:1; width:calc(100% - 40px);  margin:20px; text-align:center;padding-top:80px}
    .section-image-left, .section-image-right{width:100%;order:2;align-self:flex-end}
    .section-image-left-img{max-height: 330px; padding: 40px; margin-top: 10px}
    .section-image-right-img{max-height: 330px; padding: 40px; margin-top: 10px; margin-right: 120px}
    .section-image-left.left, .section-image-right.right,
    .section-content-left.left, .section-content-right.right{float:none}
    #copyright{padding: 20px; color:#fff; display:flex; flex-flow:column}
    #copyright .right{order:1; width:auto; margin: 0 auto; padding:25px;}
    #copyright .right ul li{margin-left:30px}
    #copyright .right ul li a i{font-size:30px;}
    #copyright .left{order:2;width:auto; margin: 0 auto; padding-top:20px; text-align:center}
}



@media screen and (max-width: 400px) {
    nav{width:200px!important}
    .logo-written{display:none}
    #copyright .right ul li{margin-left:20px}
    #copyright .right ul li a i{font-size:20px;}
}
.on{color:#3684fc!important;border-bottom:5px solid #3684fc}
.minimenu li{margin-top:-2px;margin-right:-19px;cursor:pointer}
.minimenu-search{width:26px;height:25px;background:url(/images/heartthrob/minimenu-widget.png) no-repeat 0 0}
.minimenu-search-box{display:none;position:absolute;top:0;right:50px;width:20% !important;margin:0!important;z-index:50;border-color:#fff!important;padding-bottom:2px!important;padding-top:1px!important;min-height: 32px !important;}
.minimenu-search-box:hover,.minimenu-search-box:focus{border-color:#2572EB!important}

.img-shadow-blogs, .img-shadow{box-shadow:inset 0 -120px 160px -120px #000; float:left; position: relative;}
.img-shadow-blogs img, .img-shadow img{display:block; position:relative; z-index: -1}
.slide-text{text-align:center; color: #fff; font-size:16px; margin-top:-30px; padding-bottom: 30px;}
/*footer{background:#3b3b3b;border-top:10px solid #2572EB;color:#fff; height:auto; padding: 50px 0 0}*/

#WidgetFloaterPanels.LTRStyle{box-shadow: none !important}
#CTFLinksPanel{display: none !important}
#WidgetFloater{height: 52px !important}
#WidgetFloaterPanels.LTRStyle div.DDStyle{box-shadow: none !important;left: auto !important;right: -217px;top: -2px !important;}
#WidgetFloaterPanels .DDStyle{top: 0px !important}
#WidgetFloaterPanels{right:10px !important; left:auto !important}

.success, .error{padding:20px 30px; border-bottom:1px solid;border-top: 1px solid;margin-top:20px}
.success{background:rgba(54, 132, 252, 0.2); border-color:#2572EB;}
.error{background:rgba(224, 37, 37, 0.2) !important; border-color:#e02525 !important}