@model ProjectCachoeiro.Web.Models.Comercial.OpcoesPagamento
@{
    ViewData["Title"] = "Editar opções de pagamento: " + Model.Nome;
    ViewData["LOGIC"] = "UWP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@await Html.PartialAsync("~/Views/App/Manage/Sistema/_ManageNav.cshtml")
<div class="inner-content">
    <div class="toolbar">
        <div class="left">
            <h2>Editar opções de pagamento: @Html.DisplayFor(model => model.Nome)</h2>
        </div>
        <div class="clean"></div>
    </div>
    <div class="view-element">
        <form id="form" asp-action="Editar">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="row">
                <div class="col-md-6">
                    <label>Opção de pagamento</label>
                    <input id="opcoes" value="" name="NomeNaOmie" />
                    <span asp-validation-for="NomeNaOmie"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <label asp-for="Nome"></label>
                    <input asp-for="Nome" />
                    <span asp-validation-for="Nome"></span>
                </div>
                <div class="col-md-4">
                    <label asp-for="NomeEmIngles"></label>
                    <input asp-for="NomeEmIngles" />
                    <span asp-validation-for="NomeEmIngles"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-10">
                    <label asp-for="Descricao"></label>
                    <textarea asp-for="Descricao"></textarea>
                    <span asp-validation-for="Descricao"></span>
                </div>
            </div>
        </form>
        @await Html.PartialAsync("~/Views/Shared/AppTaskbar.cshtml", "EDIT;ID=" + Model.Id + ";")
    </div>
</div>
<div class="clean"></div>
<script>
    var jsonOpcoes = (function () {
        var json = null;
        $.ajax({
            'async': false,
            'global': false,
            'url': '/json/parcelas.json',
            'dataType': "json",
            'success': function (data) {
                json = data;
            }
        });
        return json;
    })();

    $("#opcoes").kendoDropDownList({
        dataTextField: "nome",
        dataValueField: "id",
        index: 0,
        filter: "startswith",
        dataSource: jsonOpcoes,
        enable: false
    });
</script>