
@{
    ViewData["Title"] = "Propriedades";
    ViewData["LOGIC"] = "UWP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@await Html.PartialAsync("~/Views/App/Manage/Sistema/_ManageNav.cshtml")
<div class="inner-content">
    <div class="toolbar">
        <div class="left">
            <h2>Propriedades</h2>
        </div>
        <div class="clean"></div>
    </div>
    
    <div class="view-element">
        <p>Altere as propriedades do sistema aqui.</p>
        <!-- TODO: Melhorar essa tela, tipo os Sets do Windows -->
    </div>
</div>
<div class="clean"></div>