@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "M!xer";
    ViewData["Description"] = "Everything you know about ______ will changed! Stay tuned.";
    ViewData["Keywords"] = "mixer, aplicativos, windows 10, windows insider, desenvolvedor indie";
}
@section submenu{
    <ul>
        <li><a href="http://twitter.com/vt_norton">Follow me on Twitter @@vt_norton</a></li>
        <li><a href="https://www.facebook.com/Mixer-1323694730979985/">Like M!xer page at Facebook</a></li>
    </ul>
}
<script src="~/json/app.mixer.json" type="application/ld+json"></script>

<div style="padding: 120px;background: #5f37be;margin-top: -35px;text-align: center;">
    <h1 class="white">M!xer</h1><br /><hr /><br />
    <h3 style="font-size:25px" class="white">Oct21 | Everything you know about _________ will changed!<br />Stay tuned.</h3>
</div>